html {
	margin :0;
	width: 100%;
	height: 100%;
}

body {
	margin :0;
	
	width: 100%;
	height: 100%;
	
	color:#666;
	
}

img {
	border : 0;
}

a {
	text-decoration: none;
}


/**
 * 	fix
 */

.clearfix {
	clear:both;
}

/**
 * 	layout
 */

.container {
	position: relative;
	width: 100%;
	
	min-width: 1000px;
	min-height: 700px;
	
	/*
	background-color:#e7e7e7;
	*/
	background-image: url(../img/bg.png);
}

/*
 * top
 */

.topBox {
	position: absolute;
	height: 80px;
	width: 100%;
	top: 0;
	background-color:#000;
	box-shadow: 0px 2px 1px #000;
	/*
	
	
	outline: 1px solid #e0e0e0;
	* */
	z-index: 1001;
	
	/*
	margin: 0 0 0 320px;*/
	opacity: 0.8;
	left: 0	;
}

.logo {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 150px;
	height: 60px;
	
	
}

/**
 * 	search advanced
 */

.searchAdvBox {
	position: absolute;
	padding: 10px;
	top: 82px;
	background-color:#333;
	left: 320px;
	min-width: 300px;
	box-shadow: 0px 2px 4px #000;
	
	opacity: 0;
}

/**
 * 	content
 */

.contentBox {
	/*
	position: absolute;
	top: 0px;
	left: 0;
	*/
	width : 100%;
	height: 100%;
	z-index: 0;
	float:left;
	
	position: relative;
}

.mapBox {
	width: 100%;
	height: 100%;
}



/**
 * 	left
 */

.leftBox {
	
	position:absolute;
	left: -320px;
	top: 80px;
	
	
	background-color:#000;
	box-shadow: 2px 2px 2px #999;
	z-index: 1;
	width: 320px;
	height: 100%;
	
	opacity: 0.8;
	
	
	/*
	background-color:#8fc31f;
	*/
}

