html {
	margin :0;
	width: 100%;
	height: 100%;
}

body {
	margin :0;
	
	width: 100%;
	height: 100%;
	
	color:#666;
	
}

img {
	border : 0;
}

a {
	text-decoration: none;
}


/**
 * 	fix
 */

.clearfix {
	clear:both;
}

/**
 * 	layout
 */

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

/*
 * top
 */

.topBox {
	position: absolute;
	height: 80px;
	width: 100%;
	top: 0;
	background-color:#fff;
	box-shadow: 0px 2px 1px #ccc;
	/*
	
	
	outline: 1px solid #e0e0e0;
	* */
	z-index: 1001;
	
	/*
	margin: 0 0 0 320px;*/
	left: 0	;
}

.logo {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 150px;
	height: 60px;
}

.searchBox {
	position: absolute;
	left: 300px;
	top: 24px;
}

.searchText {
	border: 1px solid #e0e0e0;
	padding: 5px;
	width: 300px;
}

.searchBtn {
	border: 1px solid #8fc31f;
	background-color: #8fc31f;
	padding: 5px 15px;
	font-size: 13px;
	color:#fff;
}

.quickBox {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 13px;
}

/**
 * 	content
 */

.contentBox {
	position: absolute;
	top: 0px;
	left: 0;
	width : 100%;
	height: 100%;
	z-index: 0;
}

.mapBox {
	width: 100%;
	height: 100%;
}

/**
 * 	left
 */

.leftBox {
	position:absolute;
	left: 0px;
	top: 90px;
	background-color:#fff;
	box-shadow: 2px 2px 2px #999;
	z-index: 1;
	width: 320px;
	height: 736px;
	
	opacity: 0.9;
	
	/*
	background-color:#8fc31f;
	*/
}

.leftBanner {
	/*
	background-color:#729c18;
	*/
	/*
	background-color:#f2a830;
	*/
	
	background-color:#f2a830;

	font-size: 15px;
	color:#fff;
	padding: 6px;
	
	position:absolute;
	right: -27px;
	top: 0;
	box-shadow: 1px 2px 1px #666;
}

.leftCLose {
	font-family: Arial;
	font-size: 11px;
	padding: 2px 4px;
	color:#fff;
	/*
	background-color:#0475a6;
	*/
}


.leftItem {
	float: left;
	padding: 10px;
	margin: 10px 10px 0 10px;
	
	
	/*
	 * box-shadow: 0px 2px 3px #0475a6;
	 * border-bottom: 1px solid #0475a6;
	 */
	
	

}

.leftItem:hover {
	/*
	background-color:#8abe1f;
	*/
}

.leftItem:last-child {
	border-bottom: 0;
}

.leftItemImg {
	width: 90px; 
	height: 90px; 
	overflow: hidden;
	margin: 0 10px 0 0;
	
	float:left;
	
	/*
	border: 5px solid #0475a6;*/
}

.leftItemDesc {
	width: 170px;
	margin: 0 0 0px 0;
	float:left;
	height: 100px;
}

.leftItemDescTitle {
	font-size: 21px;
	color:#333;
	padding: 5px;
}

.leftItemDescOther {
	font-size: 13px;
	color:#666;
	padding: 5px;
}
